<link rel="stylesheet" href="../static/style.css" />
<main class="main grid--center">
    <form action="#" method="post">
        <div class="grid--center signup_frame">
            <h1 class="signup_frame__title">會員註冊</h1>
            <div class="grid--center signup_frame__input">
                <input
                    class="signup_frame__input__item"
                    type="text"
                    name="username"
                    placeholder="帳號"
                />
                <input
                    class="signup_frame__input__item"
                    type="password"
                    name="password"
                    placeholder="密碼"
                />
                <input
                    class="signup_frame__input__item"
                    type="text"
                    name="name"
                    placeholder="姓名"
                />
                <input
                    class="signup_frame__input__item"
                    type="email"
                    name="email"
                    placeholder="Email"
                />
            </div>
            <button class="btn signup_frame__btn" type="submit">註冊</button>
            <a class="flex--center btn signup_frame__btn" href="#">返回</a>
        </div>
    </form>
</main>
