/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 20px;
}
ul {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
    color: black;
}

/* main sheet */
/* general */
.flex-container {
    display: flex;
}

/* header */
header {
    height: 44px;
    margin: 0 16px;
    justify-content: space-between;
    align-items: center;
}
nav li {
    margin-left: 24px;
}
img#hamburger,
img#cancel {
    width: 32px;
    height: auto;
    display: none;
    cursor: pointer;
}
img#hamburger:hover,
img#cancel:hover,
a:hover,
a li:hover {
    opacity: 0.5;
}
nav#dropMenu {
    width: 100%;
    position: absolute;
    right: 0;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 6px -6px #777;
}
nav#dropMenu li {
    margin: 8px 16px;
}
.hide {
    display: none;
}
/* banner */
.banner {
    height: 300px;
    background-color: rgb(222, 238, 248);
    justify-content: center;
    align-items: center;
}
.banner h1 {
    font-size: 2rem;
}

/* main */
main {
    justify-content: center;
}
.w-container {
    width: 1200px;
    margin-top: 44px;
    flex-wrap: wrap;
    justify-content: space-between;
}
figure {
    width: 276px;
    height: 220px;
    margin-bottom: 32px;
    background-color: rgb(222, 238, 248);
}
figure img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 50% 70%;
}
figure figcaption {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .w-container {
        width: 90%;
    }
    figure {
        width: 48%;
        height: 23.5%;
    }
}

@media screen and (max-width: 600px) {
    .w-container {
        width: 90%;
    }
    figure {
        width: 100%;
        height: 11.5%;
    }
    #nav {
        display: none;
    }
    img#hamburger {
        display: block;
    }
    .show {
        display: block;
    }
}
